c 1 0: -tti
c 2 0: -tbaa
c 3 0: -scoped-noalias
c 4 0: -assumption-cache-tracker
c 5 0: -targetlibinfo
c 6 0: -verify
c 7 0: -simplifycfg
c 8 0: -domtree
c 9 0: -sroa
c 10 0: -early-cse
c 11 0: -lower-expect
c 12 0: -targetlibinfo
c 13 0: -tti
c 14 0: -tbaa
c 15 0: -scoped-noalias
c 16 0: -assumption-cache-tracker
c 17 0: -profile-summary-info
c 18 0: -forceattrs
c 19 0: -inferattrs
c 20 0: -ipsccp
c 21 0: -globalopt
c 22 0: -domtree
c 23 0: -mem2reg
c 24 0: -deadargelim
c 25 0: -domtree
c 26 0: -basicaa
c 27 0: -aa
c 28 0: -instcombine
c 29 0: -simplifycfg
c 30 0: -basiccg
c 31 0: -globals-aa
c 32 0: -prune-eh
c 33 0: -inline
c 34 0: -functionattrs
c 35 0: -argpromotion
c 36 0: -domtree
c 37 0: -sroa
c 38 0: -basicaa
c 39 0: -aa
c 40 0: -memoryssa
c 41 0: -early-cse-memssa
c 42 0: -speculative-execution
c 43 0: -domtree
c 44 0: -basicaa
c 45 0: -aa
c 46 0: -lazy-value-info
c 47 0: -jump-threading
c 48 0: -lazy-value-info
c 49 0: -correlated-propagation
c 50 0: -simplifycfg
c 51 0: -domtree
c 52 0: -basicaa
c 53 0: -aa
c 54 0: -instcombine
c 55 0: -libcalls-shrinkwrap
c 56 0: -loops
c 57 0: -branch-prob
c 58 0: -block-freq
c 59 0: -pgo-memop-opt
c 60 0: -domtree
c 61 0: -basicaa
c 62 0: -aa
c 63 0: -tailcallelim
c 64 0: -simplifycfg
c 65 0: -reassociate
c 66 0: -domtree
c 67 0: -loops
c 68 0: -loop-simplify
c 69 0: -lcssa-verification
c 70 0: -lcssa
c 71 0: -basicaa
c 72 0: -aa
c 73 0: -scalar-evolution
c 74 0: -loop-rotate
c 75 0: -licm
c 76 0: -loop-unswitch
c 77 0: -simplifycfg
c 78 0: -domtree
c 79 0: -basicaa
c 80 0: -aa
c 81 0: -instcombine
c 82 0: -loops
c 83 0: -loop-simplify
c 84 0: -lcssa-verification
c 85 0: -lcssa
c 86 0: -scalar-evolution
c 87 0: -indvars
c 88 0: -loop-idiom
c 89 0: -loop-deletion
c 90 0: -loop-unroll
c 91 0: -mldst-motion
c 92 0: -aa
c 93 0: -memdep
c 94 0: -lazy-branch-prob
c 95 0: -lazy-block-freq
c 96 0: -opt-remark-emitter
c 97 0: -gvn
c 98 0: -basicaa
c 99 0: -aa
c 100 0: -memdep
c 101 0: -memcpyopt
c 102 0: -sccp
c 103 0: -domtree
c 104 0: -demanded-bits
c 105 0: -bdce
c 106 0: -basicaa
c 107 0: -aa
c 108 0: -instcombine
c 109 0: -lazy-value-info
c 110 0: -jump-threading
c 111 0: -lazy-value-info
c 112 0: -correlated-propagation
c 113 0: -domtree
c 114 0: -basicaa
c 115 0: -aa
c 116 0: -memdep
c 117 0: -dse
c 118 0: -loops
c 119 0: -loop-simplify
c 120 0: -lcssa-verification
c 121 0: -lcssa
c 122 0: -aa
c 123 0: -scalar-evolution
c 124 0: -licm
c 125 0: -postdomtree
c 126 0: -adce
c 127 0: -simplifycfg
c 128 0: -domtree
c 129 0: -basicaa
c 130 0: -aa
c 131 0: -instcombine
c 132 0: -barrier
c 133 0: -elim-avail-extern
c 134 0: -basiccg
c 135 0: -rpo-functionattrs
c 136 0: -globals-aa
c 137 0: -float2int
c 138 0: -domtree
c 139 0: -loops
c 140 0: -loop-simplify
c 141 0: -lcssa-verification
c 142 0: -lcssa
c 143 0: -basicaa
c 144 0: -aa
c 145 0: -scalar-evolution
c 146 0: -loop-rotate
c 147 0: -loop-accesses
c 148 0: -lazy-branch-prob
c 149 0: -lazy-block-freq
c 150 0: -opt-remark-emitter
c 151 0: -loop-distribute
c 152 0: -branch-prob
c 153 0: -block-freq
c 154 0: -scalar-evolution
c 155 0: -basicaa
c 156 0: -aa
c 157 0: -loop-accesses
c 158 0: -demanded-bits
c 159 0: -lazy-branch-prob
c 160 0: -lazy-block-freq
c 161 0: -opt-remark-emitter
c 162 0: -loop-vectorize
c 163 0: -loop-simplify
c 164 0: -scalar-evolution
c 165 0: -aa
c 166 0: -loop-accesses
c 167 0: -loop-load-elim
c 168 0: -basicaa
c 169 0: -aa
c 170 0: -instcombine
c 171 0: -scalar-evolution
c 172 0: -demanded-bits
c 173 0: -lazy-branch-prob
c 174 0: -lazy-block-freq
c 175 0: -opt-remark-emitter
c 176 0: -slp-vectorizer
c 177 0: -latesimplifycfg
c 178 0: -domtree
c 179 0: -basicaa
c 180 0: -aa
c 181 0: -instcombine
c 182 0: -loops
c 183 0: -loop-simplify
c 184 0: -lcssa-verification
c 185 0: -lcssa
c 186 0: -scalar-evolution
c 187 0: -loop-unroll
c 188 0: -instcombine
c 189 0: -loop-simplify
c 190 0: -lcssa-verification
c 191 0: -lcssa
c 192 0: -scalar-evolution
c 193 0: -licm
c 194 0: -alignment-from-assumptions
c 195 0: -strip-dead-prototypes
c 196 0: -globaldce
c 197 0: -constmerge
c 198 0: -domtree
c 199 0: -loops
c 200 0: -branch-prob
c 201 0: -block-freq
c 202 0: -loop-simplify
c 203 0: -lcssa-verification
c 204 0: -lcssa
c 205 0: -basicaa
c 206 0: -aa
c 207 0: -scalar-evolution
c 208 0: -branch-prob
c 209 0: -block-freq
c 210 0: -loop-sink
c 211 0: -lazy-branch-prob
c 212 0: -lazy-block-freq
c 213 0: -opt-remark-emitter
c 214 0: -instsimplify
c 215 0: -simplifycfg
c 216 0: -verify
p cnf 216 0
